# This is Git's per-user configuration file.
[user]
    name = Roman Kotenko
    # email = ;)
[alias]
    a = add
    br = branch
    c = commit
    cm = commit -m
    cam = commit -a -m
    cln = clean -dfx
    cp = cherry-pick
    cpa = cherry-pick --abort
    cpc = cherry-pick --continue
    ct = checkout
    ctb = checkout -b
    d = diff --diff-filter=d
    dfn = diff --name-only
    f = fetch
    fuckit = reset --hard
    graph = log --graph --pretty=format:'%Cred%h%Creset -%C(red)%d%Creset %s %Cgreen(%cd) %C(cyan)[%an]%Creset' --abbrev-commit --date=short
    last = log -n 1
    lastd = diff HEAD~1
    lastn = log -n
    mg = merge
    mga = merge --abort
    mgc = merge --continue
    mgt = mergetool
    pl = pull
    plrb = pull --rebase
    rb = rebase
    rba = rebase --abort
    rbc = rebase --continue
    rs = reset
    rs-undo = reset --quiet HEAD@{1}
    s = status
    ss = status -s
    stss = stash save
    stsa = stash apply
    stsd = stash drop
    stsp = stash pop
    stsl = stash list
    subupd = submodule update --init --recursive
    undo = reset HEAD~1
    wta = worktree add
    wtl = worktree list
    wtr = worktree remove
[color "status"]
    changed = red bold
    untracked = red bold
    added = green bold
[color "diff"]
    old = red bold
    new = green bold
    meta = cyan
[credential]
    helper = store
[init]
    defaultBranch = main
[submodule]
    recurse = true
# [filter "lfs"]
#    clean = git-lfs clean -- %f
#    smudge = git-lfs smudge -- %f
#    process = git-lfs filter-process
#    required = true
